# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/
build/

# IDE
.vscode/

# Data
ml/datasets/*
!ml/datasets/.gitkeep

# Models
ml/models/*
!ml/models/.gitkeep

# OS
.DS_Store
Thumbs.db

# Uploaded resumes / sensitive files
uploads/
*.pdf
*.docx
